<div class="alert alert-success" *ngIf="!dataRow">Loading...</div>

<ng-container *ngIf="dataRow">
  <h3>Edit password - {{dataRow.name}}</h3>

  <a [routerLink]="['/password/details', dataRow.id]" class="btn btn-sm btn-secondary m-1">Back</a>

  <app-error [error]="error"></app-error>

  <form (ngSubmit)="onSubmit()" #createDataRowForm="ngForm">
    <div class="row my-1">
      <div class="col-md-2 text-md-right">Password</div>
      <div class="col-md-10">
        <input type="password" placeholder="Password"
               (focus)="onPasswordFieldFocus($event)" (focusout)="onPasswordFieldFocusOut($event)"
               [(ngModel)]="password" name="password"
               class="form-control">
      </div>
    </div>

    <div class="row my-1">
      <div class="col-md-2 text-md-right">Encryption key</div>
      <div class="col-md-10">
        <app-encryption-key-picker [encryptionKey]="this.encryptionKey"
                                   (encryptionKeyChanged)="onEncryptionKeyChange($event)"></app-encryption-key-picker>
        <div [hidden]="this.encryptionKey && isLoaded(this.encryptionKey)" class="text-danger">Encryption Key not loaded!</div>
      </div>
    </div>

    <div class="row my-1">
      <div class="offset-md-2 col-md-10">
        <button type="submit" class="btn btn-primary" [disabled]="!this.encryptionKey || !isLoaded(this.encryptionKey)">Save new password
        </button>
      </div>
    </div>
  </form>

</ng-container>
